body    {
    text-align: center;
    background-color: #6667AB;
}
h1    {
    font-family: 'Sono', sans-serif;
    font-size: 4rem;
    color: #DBEDF3;
    text-shadow: 3px 0 #DA0463;
  }
span{
    color:#BB2649;
    font-size: 180%;
    font-family: 'Sono', sans-serif;
}
  #FirstImg {
    width: 200px;
    position: absolute;
    top: 0;
    right: 0;
  }
  #SecondImg {
    width: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .set {
    position: relative;
    margin: 10% auto;
  }
  /*setting images inside buttons*/
  .w {
    background-image: url("images/do.png");
    background-size: cover;
  }
  
  .a{
    background-image: url("images/re.png");
    background-size: cover;
  }
  
  .s {
    background-image: url("images/mi.png");
    background-size: cover;
  }
  
  .d {
    background-image: url("images/fa.png");
    background-size: cover;
  }
  
  .j {
    background-image: url("images/sol.png");
    background-size: cover;
  }
  
  .k {
    background-image: url("images/la.png");
    background-size: cover;
  }
  
  .l {
    background-image: url("images/si.png");
    background-size: cover;
  }
  .sound {
    outline: none;
    border: 10px solid #404B69;
    font-size: 5rem;
    font-family: 'Arvo', cursive;
    line-height: 2;
    font-weight: 900;
    color: rgba(218, 4, 99, 0.5);
    text-shadow: 3px 0 #DBEDF3;
    border-radius: 15px;
    display: inline-block;
    width: 150px;
    height: 150px;
    text-align: center;
    margin: 10px;
    background-color: white;
  }
  .pressed {
    box-shadow: 0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
  }
  footer {
    color: #000000;
    font-family: sans-serif;
  }